<div class="coll-item">
    <h3>{{item.title}}</h3>
    <p>{{item.description}}</p>
    <p> Type: {{item.type}}</p>
    <div>
        {{#each item.tags as |tag|}}
            <span class="coll-item-tag">{{tag}}</span>
        {{/each}}
    </div>
</div>
