/* Global */
body {
    margin-top: 50px;
}

/* collection Navbar */
.coll-navbar {
    background-color: #009688;
    color: #fff;
}
.coll-navbar-inner {
}

/* Collection Items */
.coll-items {
    padding: 25px;
}
.coll-item {
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #f8f8f8;
    margin: 15px;
}
.coll-item-tag {
    padding: 3px;
    border-radius: 2px;
    background: #f5f5f5;
}
