# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# dependencies
node_modules
bower_components

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
.editorconfig

.python-version
*.pyc
local.py
config/local.yaml
db.sqlite3
local.yml
0001_initial.py
migrations/*
!migrations/__init__.py
tmp
