# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
client/tmp

# dependencies
client/node_modules
client/bower_components

# misc
client/.sass-cache
client/connect.lock
client/coverage/*
client/libpeerconnection.log
client/npm-debug.log
client/testem.log

*.pyc
local.py
client/config/local.yaml
db.sqlite3
local.yml
0001_initial.py
service/api/migrations/__init__.py
tmp
