<div class="landing-paragraph-container p-t-xl p-l-lg p-r-lg p-b-lg" style="{{containerStyle}}">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12">
                {{#if layout.title}}
                    <h2>{{layout.title}}</h2><br>
                {{/if}}
                <p class="text-left" style="max-width:1250px; margin-left: auto; margin-right: auto;">{{layout.body}}</p>
            </div>
        </div>
    </div>
</div>
