.speaker-pic-thumbnail {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  float: left;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}

.speaker-detail {
  padding: 30px 20px 30px 20px;
  max-height: 90px;
  max-width: 250px;
}

.section-title {
  margin-bottom: 50px;
}

.affiliation {
  font-weight: lighter;
}

.speaker-name {
  font-weight: 600;
}