{{osf-navbar loginAction=(action 'login') hideSearch=true}}
{{#unless model.authenticated}}
    <div class="coll-alert"> Collections demo requires signing in to an osf account. Sign in or sign up above. </div>
{{/unless}}

{{outlet}}
