{{osf-navbar loginAction=(action 'login') hideSearch=true}}
{{#unless model}}
    <div class="coll-alert"> Collections demo app needs OSF login to work. Please login above.</div>
{{/unless}}
{{outlet}}
