@import 'components/navbar-auth-dropdown';
@import 'validated-input';
@import 'components/subject-picker';

$navbar-color: #009688;
$light-blue-banner: #e8f0f1;
$light-grey-banner: #eeeeee;
$dark-banner: #060502;


/* Global */

.banner {
    background-size: 100% 100%;
    height:100%;
    padding-top:50px;
     background-image: -webkit-linear-gradient(top, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    -webkit-linear-gradient(left, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    url('/img/collections_bg.jpg');

  background-image: -moz-linear-gradient(top, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    -moz-linear-gradient(left, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
   url('/img/collections_bg.jpg');

  background-image: -o-linear-gradient(top, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    -o-linear-gradient(left, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    url('/img/collections_bg.jpg');

  background-image: linear-gradient(top, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    linear-gradient(left, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    url('/img/collections_bg.jpg');
}
.submit_button {
    display: block;
    margin: 0 auto;
}

.preprint-form-section {
    overflow: hidden;
}

.section-submit-button {
    margin-top: 10px;
    float: right;
    margin-left: 10px;
}

body {
    margin-top: 50px;
    background-color: #f8f8f8;
}
.btn:focus {
    outline: none;
}
.modal.in {
    display: block;
}
.navbar{
    height: 50px;
}
ul.comma-list {
    display: inline;
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", "
    }
    li:last-child:after {
        content: "";
    }
}
.coll-breadcrumbs {
    background-color: #f5f5f5;
    height: 40px;
    padding-top: 3px;
}
/* override breadcrumb plugin css */
.breadcrumbs {
    padding: 8px 15px 8px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    >li {
        display: inline-block;
    }
    > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
    }
    > .active {
      color: #777;
    }
}

.coll-table {
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
    box-shadow: 0 2px 12px -5px #ccc;
    width: 100%;
    thead {
        background-color: #00BCD4;
        color: #fff;
    }
    td, th {
        padding: 15px;
    }
    tr {
        border-bottom: 1px solid #eee;
    }
}
.coll-alert{
    padding: 20px;
    text-align: center;
    background-color: #FFEB3B;
}
.pointer {
    cursor: pointer;
}
.coll-radio {
    width: 24px;
    height: 24px;
    position: absolute;
    border: 2px solid #ccc;
    border-radius: 12px;
    margin-top: -2px;
}
.coll-active>.coll-radio {
    background-color:#ccc;
}

/* Home */

.coll-banner {
    background: $dark-banner;
    background-size: cover;
    height: 300px;
    color: #fff;
/*    padding-top: 25px;
*/}

.coll-add-layer {
    background-color: $light-grey-banner;
    border-bottom: 1px solid #ddd;
}


/* Collection Navbar */
.coll-navbar {
    background-color: $navbar-color;
    color: #fff;
}
.coll-navbar-inner {
    a {
        text-decoration: none;
        color: #fff;
    }
    .navbar {
        margin: 0;
    }


}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #1fa99c;
}
.navbar-nav > li > a {
    padding-bottom: 14px;
}
/* Collection Toolbar - it has filtering only now*/
.coll-toolbar {
    padding-top: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

/* Collection Items */
.coll-item {
    height: 160px;
    overflow: auto;
    position: relative;
}
.coll-items, .coll-group {
    padding: 25px;
}
.coll-item, .coll-single {
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #ffffff;
    margin: 15px;
}
.coll-add-item {
    padding: 20px;
}

.coll-item-tag {
    padding: 3px 5px;
    border-radius: 2px;
    background: #f5f5f5;
}
.coll-item-type-preprint {
    background-color: #94e3ec;
}
.coll-item-type-project {
    background-color: #f3e888;
}
.coll-item-type-registration {
    background-color: #c3e49c;
}
.coll-item-type-file {
    background-color: #f3d785;
}
.coll-item-type-person {
    background-color: #8d98d8;
}
.coll-item-wrapper {
    position: relative;
}
.coll-item-organize {
    position: absolute;
    text-align: center;
    width: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.44);
    height: 160px;
    padding-top: 40px;
    color: #9E9E9E;
    margin: 0 15px;
    z-index: 9;
    .fa {
        font-size: 30px;
    }
    &.item-selected {
        color: #8bc34a;
        background-color: rgba(255, 255, 255, 0.82);
    }
}

tr.item-row-selected {
  background-color: #e3f3f5;
}

.coll-item-isgroup {
    background-color: #eee;
    box-shadow:
    1px 1px 0 1px #ccc,
    2px 2px 0 1px #fff,
    3px 3px 0 1px #ccc,
    4px 4px 0 1px #fff,
    5px 5px 0 1px #ccc;
}
.btn-collection {
    background: none;
    border-radius: 15px;
    color: #999;
    min-width: 100px;
}
.coll-add-choice {
    padding: 15px 0 30px 0;
    .choice-group{
        .choice-item {
            border: 1px solid #ccc;
            padding: 10px;
            width: 113px;
            display: inline-block;
            text-align: center;
            margin-right: 5px;
            background-color: #eee;
            border-radius: 2px;
            cursor: pointer;
            z-index: 3;
            position: relative;
            border-bottom: none;
            border-radius: 2px;
            &.active{
                background: #fff;
                z-index: 9;
            }
        }
    }
    .add-panel {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        z-index: 4;
        position: relative;
        .add-select-method {
            text-align: center;
            line-height: 50px;
            background: #607D8B;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
    }

}

/* Search pages */
.search-result-panel {

}
.search-result{
    border: 1px solid #eee;
    background: #ffffff;
}

/* Item detail */
.coll-item-header {
    background-color: $dark-banner;
    /*background: url('/img/triangle.jpg') top center;
    background-size: cover;*/
    padding: 25px 0;
    color: #fff;

}
.coll-item-header ul>li>a {
    color: #6dd1de;
}
.coll-item-status {
    padding: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    &.pending {
        background-color: #FFC107;
    }
    &.approved {
        background-color: #8BC34A;
    }
}
.ball-pulse-dark>div {
    background-color: #607d8b;
}

/* Landing pages */

.landing-list-container {
    .btn-primary {
        font-size: 17px;
        width: 100%;
        margin: 5px;
    }
}
.landing-default-container {
    background-color: $dark-banner;
    color: #fff;
    min-height: 500px;
}

/* Create collection page */
.coll-create-header {
    background-color: $dark-banner;
    color: #fff;
}

.coll-hero-logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* Preprint forms -- copied over from ember-preprints repo*/
.preprint-form-section {
    header {
        @extend a;
        color: #337ab7;
        cursor: pointer;
        font: {
            size: 16px;
            font-weight: bold;
        }
        display: block;
        margin: 1rem 0;
        &:hover, &:focus {
            text-decoration: none;
        }
        &:after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
        }
        &.cp-is-open {
            cursor: default;
            color: #333;
        }
        &.valid {
            .preprint-section-status .fa {
                color: #488132;
            }
        }
        &.invalid {
            .preprint-section-status .fa {
                color: #F44336;
            }
        }
        &.not-validated {
            .preprint-section-status .fa {
                color: gray;
            }
        }
        .fa {
            font-size: 20px;
        }
        .preprint-section-status .fa {
            transition: color 0.1s linear;
        }
    }
    .cp-Panel-body {
        opacity: 0;
        overflow: hidden;
        transition: {
            property: height, opacity;
            duration: 0.2s;
            timing-function: linear;
        }
        &.cp-is-open {
            opacity: 1;
        }
    }
    // THESE STYLES ARE INTERFERING WITH MY STYLES.
    // .row {
    //     margin: 0;
    // }
    // label, input, textarea {
    //     display: block;
    // }
    label > input, label > textarea {
        font-weight: normal;
    }
    textarea {
        resize: none;
    }
}



#preprint-form-basics {
    span.required:after {
        content: "(required)";
        color: lighten(red, 30%);
        font-weight: normal;
        float: right;
    }
}

.preprint-form-block {
    margin-top: 20px;
    background: #fff;
    padding:10px 20px 20px 20px;
    box-shadow: 0 0 3px #ddd;
    label {
        width: 100%;
    }
    .preprint-header-preview {
        color: #444;
        font-size: 15px;
        i {
            color: #888;
            display: block;
        }
        .abstract {
            white-space: pre-line;
        }
    }
}

/* End of Preprint forms */

/* Authors from preprints */
.vert-align-disabled-permissions {
  padding-top: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.vert-align-enabled-permissions {
  padding-top: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.drag-drop-contrib {
  padding-top: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
}

.permission-select {
  width: 110px;
  display: inline;
}
.vert-align {
  padding-top: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.vert-align-contributor-name {
  padding-top: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bib-padding {
  text-align: center;
}

// Author table divisions
.author-table {
  td {
    border-top: 1px solid #ddd;
  }
}

.col-division-left {
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.col-division-right {
  border-right: 1px solid #ccc;
}

.author-search-box {
  padding-top: 20px;
}

.unregisteredUsers {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom:20px;
  background-color: #EEEEEE;
}

.unregistered-name {
  padding-bottom: 10px;
  padding-top: 10px;
}

.unregistered-email {
  padding-bottom: 20px;
  padding-top: 5px;
}

.unregistered-submit {
  padding-top: 10px;
}

.header-inline {
  display: inline;
}

.drag-drop {
  padding-top: 10px;
}

.author-header {
  padding-top: 15px;
}

tr.contributor-row:hover {
  background: #EEE;
}

span.sortable-bars:hover {
  cursor: move;
}

.sortable-item {
  transition: background-color 125ms;
  &.is-dragging {
    transition-duration: 0;
    background: white;
    z-index: 10;
  }
}

.contrib-column-header {
  padding-left: 12px;
}

.disabled-checkmark {
  padding-left: 18px;
  padding-right: 18px;
}

.nudge-right {
  text-align: left;
}

.icon-no-border {
  background:none;
  border:none;
  font-size:1em;
  padding:0px;
}

@keyframes greenHighlight {
  0% {
    background: #DFF0D8;
  }
  100% {
    background: white;
  }
}

@keyframes greenGrayHighlight {
  0% {
    background: #DFF0D8
  }
  100% {
    background: #F8F8F8;
  }
}

@keyframes redHighlight {
  0% {
    background: #F2DEDE;
  }
  100% {
    background: white;
  }
}

.successHighlightGreenGray {
  animation: greenGrayHighlight 2s;
}

.successHighlight {
  animation: greenHighlight 2s;
}

.errorHighlight {
  animation: redHighlight 2s;
}
@media (max-width: 768px) { // Contributors section, XS screen
  .current-authors {
    table, td, tr {
      display: block;
      width: 100% !important;
    }

    th {
      display: None;
    }

    td {
      border-top: none !important;
    }
    .author-cols {
      margin-top: 10px;
    }

    td:before {
      white-space: nowrap;
    }

    .bib-padding {
      text-align: left;
      padding-bottom: 10px;
      padding-right: 30px
    }

    .checkbox-padding {
      padding-right: 20px;
      padding-left: 20px;
    }

    .permission-label {
      padding-right: 10px;
      padding-left: 18px;
    }

    .vert-align-disabled-permissions {
      padding-top: 0px;
    }
    .vert-align-enabled-permissions {
      padding-top: 0px;
    }
    .drag-drop-contrib {
      padding-top: 0px;
    }
    .vert-align {
      padding-top: 0px;
    }
    .vert-align-contributor-name {
      padding-top: 0px;
    }
    .contributor-row {
      border-top: 1px solid #EEE !important;
      width: auto;
      padding-left: 10px;
    }
    .delete-contrib-button {
      padding-bottom: 10px;
    }
    .remove-contributor-xs {
      padding: 0;
      border: none;
      background: none;
      color: #D9534F;
    }
    .remove-contributor-padding-xs {
      padding-right: 10px;
    }
  }
}

/* End of Authors */
