$navbar-color: #009688;
$light-blue-banner: #e8f0f1;
$light-grey-banner: #eeeeee;
$dark-banner: #607D8B;


/* Global */
body {
    margin-top: 50px;
    background-color: #f8f8f8;
}
.btn:focus {
    outline: none;
}
.modal.in {
    display: block;
}
.navbar{
    height: 50px;
}
ul.comma-list {
    display: inline;
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", "
    }
    li:last-child:after {
        content: "";
    }
}
.coll-breadcrumbs {
    background-color: #f5f5f5;
    height: 40px;
    padding-top: 3px;
}
/* override breadcrumb plugin css */
.breadcrumbs {
    padding: 8px 15px 8px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    >li {
        display: inline-block;
    }
    > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
    }
    > .active {
      color: #777;
    }
}

.coll-table {
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
    box-shadow: 0 2px 12px -5px #ccc;
    width: 100%;
    thead {
        background-color: #00BCD4;
        color: #fff;
    }
    td, th {
        padding: 15px;
    }
    tr {
        border-bottom: 1px solid #eee;
    }
}
.coll-alert{
    padding: 20px;
    text-align: center;
    background-color: #FFEB3B;
}
.pointer {
    cursor: pointer;
}

/* Home */

.coll-banner {
    background: $dark-banner;
    background-size: cover;
    height: 300px;
    color: #fff;
    padding-top: 50px;
}

.coll-add-layer {
    background-color: $light-grey-banner;
    border-bottom: 1px solid #ddd;
}


/* Collection Navbar */
.coll-navbar {
    background-color: $navbar-color;
    color: #fff;
}
.coll-navbar-inner {
    a {
        text-decoration: none;
        color: #fff;
    }
    .navbar {
        margin: 0;
    }


}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #1fa99c;
}
.navbar-nav > li > a {
    padding-bottom: 14px;
}
/* Collection Toolbar - it has filtering only now*/
.coll-toolbar {
    padding-top: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

/* Collection Items */
.coll-item {
    height: 160px;
    overflow: auto;
    position: relative;
}
.coll-items, .coll-group {
    padding: 25px;
}
.coll-item, .coll-single {
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #ffffff;
    margin: 15px;
}
.coll-add-item {
    padding: 20px;
}

.coll-item-tag {
    padding: 3px 5px;
    border-radius: 2px;
    background: #f5f5f5;
}
.coll-item-type-preprint {
    background-color: #94e3ec;
}
.coll-item-type-project {
    background-color: #f3e888;
}
.coll-item-type-registration {
    background-color: #c3e49c;
}
.coll-item-type-file {
    background-color: #f3d785;
}
.coll-item-type-person {
    background-color: #8d98d8;
}
.coll-item-wrapper {
    position: relative;
}
.coll-item-organize {
    position: absolute;
    text-align: center;
    width: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.44);
    height: 160px;
    padding-top: 40px;
    color: #9E9E9E;
    margin: 0 15px;
    z-index: 9;
    .fa {
        font-size: 30px;
    }
    &.item-selected {
        color: #8bc34a;
        background-color: rgba(255, 255, 255, 0.82);
    }
}

tr.item-row-selected {
  background-color: #e3f3f5;
}

.coll-item-isgroup {
    background-color: #eee;
    box-shadow:
    1px 1px 0 1px #ccc,
    2px 2px 0 1px #fff,
    3px 3px 0 1px #ccc,
    4px 4px 0 1px #fff,
    5px 5px 0 1px #ccc;
}
.btn-collection {
    background: none;
    border-radius: 15px;
    color: #999;
    min-width: 100px;
}
.coll-add-choice {
    padding: 15px 0 30px 0;
    .choice-group{
        .choice-item {
            border: 1px solid #ccc;
            padding: 10px;
            width: 113px;
            display: inline-block;
            text-align: center;
            margin-right: 5px;
            background-color: #eee;
            border-radius: 2px;
            cursor: pointer;
            z-index: 3;
            position: relative;
            border-bottom: none;
            border-radius: 2px;
            &.active{
                background: #fff;
                z-index: 9;
            }
        }
    }
    .add-panel {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        z-index: 4;
        position: relative;
        .add-select-method {
            text-align: center;
            line-height: 50px;
            background: #607D8B;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
    }

}

/* Search pages */
.search-result-panel {

}
.search-result{
    border: 1px solid #eee;
    background: #ffffff;
}

/* Item detail */
.coll-item-header {
    background-color: $dark-banner;
    /*background: url('/img/triangle.jpg') top center;
    background-size: cover;*/
    padding: 25px 0;
    color: #fff;

}
.coll-item-header ul>li>a {
    color: #6dd1de;
}
.coll-item-status {
    padding: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    &.pending {
        background-color: #FFC107;
    }
    &.approved {
        background-color: #8BC34A;
    }
}
.ball-pulse-dark>div {
    background-color: #607d8b;
}

/* Landing pages */

.landing-list-container {
    .btn-primary {
        font-size: 17px;
        width: 100%;
        margin: 5px;
    }
}
.landing-default-container {
    background-color: $dark-banner;
    color: #fff;
    min-height: 500px;
}

/* Create collection page */
.coll-create-header {
    background-color: $dark-banner;
    color: #fff;
}

.coll-hero-logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
