<div class="coll-navbar">
    <div class="container">
        <div class="coll-navbar-inner">
            {{#link-to "collection" model.id}}{{model.title}}{{/link-to}}
        </div>
    </div>
</div>
