<style>
    .icon-bar {
        background-color: #fff;
    }
</style>

<div class="coll-navbar" style="background-color:{{model.settings.branding.colors.primary}}">
    <div class="container">
        <div class="coll-navbar-inner">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#link-to "collection" model.id class="navbar-brand"}}{{model.title}}{{/link-to}}
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="navbar navbar-right">
                    <ul class="nav navbar-nav">
                        {{#if session.isAuthenticated}}
                            <li>{{#link-to "collection.add"}}Add content {{/link-to}}</li>
                        {{/if}}
                        <li>{{#link-to "collection.browse"}} Browse {{/link-to}}</li>
                        <li>{{#link-to "collection.search"}} Search {{/link-to}}</li>
                        {{#if session.isAuthenticated}}
                            <li>{{#link-to "collection.edit"}} Edit{{/link-to}}</li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
