<h1 style="
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    background: url('/img/submit.jpg') top center no-repeat;
    border-bottom: 1px solid #f0f0f0;
    background-size: cover;
    text-align: center;
">Add Preprint</h1>
<div class="coll-add-choice">
    <div class="preprint-submit-body">
        <div class="container">
            <div class="row m-t-lg">
                <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                    {{#if (eq model.settings.collectionType 'Website')}}
                        {{add-website model=model transition=(action "transition")}}
                    {{else}}
                    {{#each sections as |section|}}
                        <!-- The step to add existing projects has to be put back here at some point. Do not remove this comment. -->
                        {{#cp-panels accordion=true}}
                            {{#preprint-form-section id=section.divId class="preprint-form-block" editMode=editMode name=section.name open=(get (get parameters section.param) 'open') allowOpen=(get (get parameters section.param) 'allowOpen') as |hasOpened isOpen|}}
                                {{preprint-form-header name=section.name valid=section.isSectionSaved showValidationIndicator=(get (get parameters section.param) 'showValidationIndicator') isValidationActive=hasOpened}}
                                {{#each widgets as |widget|}}
                                    {{#if (eq widget.section section.name)}}
                                        {{component widget.widgetComponent
                                            saveParameter=(action saveParameter)
                                            action=widget.action
                                            description=widget.description
                                            name=section.name
                                            isOpen=isOpen
                                            isSectionSaved=section.isSectionSaved
                                            closeSection=(action closeSection)
                                            disabled=widget.disabled
                                            widget=widget
                                        }}
                                    {{/if}}
                                {{/each}}
                              {{/preprint-form-section}}
                        {{/cp-panels}}
                      {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
