{{outlet}}


<div class="coll-add-layer">
    <div class="container">
        <h2> {{model.id}} - {{model.title}}</h2>
        <button class="btn btn-success pull-right">Add Item</button>
    </div>
</div>
<div class="coll-items">
    <div class="row">
        {{#each model.list as |item|}}
                {{collection-item item=item class="col-sm-6 col-lg-4"}}
        {{/each}}
    </div>
</div>
